body{
  background-color: rgb(151, 64, 37);

}

.table {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "footer footer";
  grid-template-columns: 0.4fr auto;
  gap: 3px;
  background-color: rgb(87, 148, 47);
  padding: 5px;
  }

.table div {
  background-color: white;
  padding: 10px;
}
.table div.header {
  grid-area: header;
  text-align: center;
}
.table div.menu {
  grid-area: menu;
}
.table div.content {
  grid-area: content;
}
.table div.footer {
  grid-area: footer;
  text-align: center;  
}

.table1 {
  display: grid;
  background-color: rgb(153, 111, 12);
  grid-template-columns: auto auto auto auto;
  padding: auto;
  gap: 3px;
}

.table1 div.Governorates {
  background-color: rgb(98, 143, 0);
  padding: 10px;
}

.table1 div.area {
  background-color: rgb(177, 186, 16);
  padding: 10px;
}

.table1 div.population {
  background-color: rgb(159, 112, 11);
  padding: 10px;
}

.table1 div.region {
  background-color: rgb(159, 113, 6);
  padding: 10px;
}

.table1 div.location {
  background-color: rgb(135, 76, 9);
  padding: 10px;
}

@media screen {
  width: 100%;
  height: 100%;
}

@media screen and(max-width: 480px) {
  .table {
    grid-template-areas:
      "header"
      "menu"
      "content"
      "footer";
    grid-template-columns: auto;
  }
  
}

@media screen and(max-width: 780px) {
  .table1 {
    grid-template-areas:
      "header"
      "menu"
      "content"
      "footer";
    grid-template-columns: auto;
  }
  
}

